---
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { tableCell } from "./variants";

type Props = HTMLAttributes<"td"> & VariantProps<typeof tableCell>;

const { class: className, ...rest } = Astro.props;
---

<td class={tableCell({ class: className })} {...rest} data-slot="table-cell">
  <slot />
</td>
